@import '../node_modules/@syncfusion/ej2-base/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/tailwind.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/tailwind.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/tailwind.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-react-grids/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-react-schedule/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-react-dropdowns/styles/tailwind.css';

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
  .schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
      height: 25px;
  }

.e-event-popup {
  user-select: text;
  /* font-size: 14px;
  font-weight: bold; */
}